$buffer:                             5px;

$primaryFont:                        Helvetica, Arial, sans-serif;

$fontSize:                           24px;
$fontSizeStatement:                  48px;

$lineHeight:                         26px;
$lineHeightStatement:                50px;