$buffer:                             5px;

$primaryFont:                        Helvetica, Arial, sans-serif;

$fontSize:                           18px;
$fontSizeStatement:                  36px;

$lineHeight:                         20px;
$lineHeightStatement:                40px;

$lightFontColor:                   #eaeaea;
$fontColor:                        #000000;
$primaryColor:                     #0000ff;


$timing:                             .5s;
$easingRegular:                      ease-in-out;
$transition:                         all $timing $easingRegular;

$xs:                                 600px;
$sm:                                 960px;
$md:                                 1280px;
$lg:                                 1920px;