@import "../../styles/styles.scss";

.reel-container {
    position: absolute;
    top: 0;
    .reel-text-wrapper {
        @include animation(reel1, 180s, ease-in-out, 0s, infinite, alternate, forwards)
    }
    .reel-image-wrapper {
        z-index: -2;
        @include animation(reel1, 240s, ease-in-out, 0s, infinite, alternate, forwards)
    }
}