@import "../../styles/styles.scss";

.reel-container {
    position: absolute;
    top: 25vh;
    .reel-text-wrapper {
        @include animation(reel1, 200s, linear, 0s, infinite, alternate, forwards);
    }
    .reel-image-wrapper {
        z-index: -2;
        @include animation(reel1, 180s, linear, 0s, infinite, alternate, forwards);
    }
}