@import "../../styles/styles.scss";

.reel-image-container {
    margin-top: $buffer*2;
    @include breakpoint(xs) {
        padding-right: $buffer*4;
    }
    &:first-child {
        margin-top: 0;
    }
    img {
        width: 100%;
        height: 100%;
    }
}