@import "../../styles/styles.scss";

.page-container {
    height: 100vh;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    pointer-events: none;
    @include breakpoint(sm) {
        padding: 0 $buffer*4;
    }
}
.pause-toggler {
    position: absolute;
    left: $buffer*2;
    bottom: $buffer*4;
    font-size: $fontSizeStatement;
    &:hover {
        cursor: pointer;
    }
}
.is-paused {
    .reel-container {
        .reel-text-wrapper {
            animation-play-state: paused;
        }
        .reel-image-wrapper {
            animation-play-state: paused;
        }
    }
}